.navigation {
	background-color: var(--background-primary);
	box-shadow: var(--shadow-primary);
}

.navigation.fixed {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 2;
}

.navigation-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-width-wrap {
	max-width: 90vw;
	min-height: 4em;
	width: 1080px;
	margin: 0 auto;
}

.navigation-links,
.navigation-user {
	display: flex;
	list-style: none;
	gap: 1em;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.navigation-links,
	.navigation-user {
		gap: 0;
	}
}

.navigation-logo a,
.navigation-links a,
.navigation-user a{
	text-decoration: none;
}
