.navigation {
	display: flex;
	justify-content: space-between;
}

.nav-width-wrap {
	max-width: 90vw;
	width: 1080px;
	margin: 0 auto;
}

.navigation-links,
.navigation-user {
	display: flex;
	list-style: none;
	gap: 1em
}

.navigation-links a,
.navigation-logo a,
.navigation-user a{
	text-decoration: none;
	padding: 1em
}

