.user-body {
	padding: 1em 0;
}

.form-block {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.form-subtext {
	text-align: center;
}

.user-body .input-element {
  border: var(--input-border-primary);
  background: var(--background-primary);
  box-shadow: var(--shadow-primary);
}