.tabs-body {
    position: relative;
}

.tabs-navigation-body {
    display: flex;
    position: sticky;
    top: 4em;
    left: 0;
    background: var(--background-primary); 
}

.tabs-navigation-tab-label {
    padding: 0.5em 2em;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none;
}

.tabs-navigation-tab-label.select {
    border-bottom: var(--button-border-primary);
}

.tabs-outlet-wrapper {
    padding-block: 1em;
}